@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0,5em
}

.purple {
    width: 150px;
    padding-left: 10px;
    padding-right: 180px;
}

.header__navegacao {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #676569;
    padding: 20px;
    font-weight: 500;
    transition: 0.4s ;
}

.header__navega {
    padding-right: 200px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #676569;
    font-weight: 500;
    transition: 0.4s ;

}

.header__navegacao:hover {
    color: white;
}

.nav {
    width: 30px;
    padding: 0 15px;
}
.navi {
    padding-right: 80px;
    width: 30px;
    padding: 0 15px;
}

.linha {
    height: 15px;
    border-right: 1px solid rgb(0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    
    background-image: url('assets/fundo.png'), linear-gradient(#ffffff, #472aba);
   
    background-position: center 1px;
    background-size: cover;
   
    width: 100%;
    height: 100vh;

}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: lightblue;
    width: 200px; 
    height: 100px;
    align-items: center;
    width: auto;
    height: auto;
    padding: 3em 8em 3em 10em;
    opacity: 0.5;
}

.purple__main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1em;
    width: 500px;
}

.liquida {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin: 0;
    color: #666569;
}

.inverno {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 78px;
    letter-spacing: 20px; 
    margin: 0;
    color: #545DA9;
}

.OFF {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 89px;
    margin: 0;
    color: #545DA9;
}